.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.title-bar {
  height: 23px;
  position: relative;
  background-color: var(--grey-light);
  -webkit-app-region: drag;
  cursor: pointer;
  z-index: 900;
  display: inline-block;
  width: 100%;
}
.content {
  margin: 0;
  padding: 0;
  height: 95%;
  width: 100%;
}
.foreground-panel {
  position: relative;
}