.spacing {
  padding: 1rem 2rem;
}
.title {
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  color: white;
}
.message {
  margin: 0rem 0rem 1.5rem 0rem;
  font-weight: normal;
  color: white;
  font-family: 'SFMono', sans-serif, -apple-system, BlinkMacSystemFont;
}
.reportabug-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reportabug {
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.reportabug :global(span) {
  color: white;
}
.reportabug :global(svg) {
  color: white;
  fill: white;
}