/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------ */
/* ---------- reset end  -----------  */
/* ------------------------------------ */


body, html, #app-container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #CFCFCF;
	font-family: Helvetica;
}

.vertical-center-contents{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#wrapper {
	height: 100%;
	width: 100%;
	display: flex;
}




#left-panel-wrapper{
	height: 100%;
	width: 25%;
}

#left-panel {
	height: 100%;
	border-right: 1px solid #CFCFCF;
	background-color: #E6E6E6;
	display: flex;
	flex-direction: column;
	-webkit-app-region: drag;
}
/*
		Left Panel
			-> title-wrapper 20%
			-> config-wrapper 50%
			  -> form-wrapper 100%
					-> form 100%
						-> input-row 31px
						-> input-row 31px
						-> input-row 31px
						-> input-row 31px
						-> input-row 31px
			-> missing 30%
*/


#config-wrapper{
	padding: 0px 13px;
	height: 50%;
	box-sizing: border-box;
}
#title-wrapper{
	width: 100%;
	height: 20%;
}
#title-wrapper h1{
	text-align: center;
	font-size: 30px;
	font-weight: 100;
}
#form-wrapper{
	padding: 0px 12px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
form {
	height: 100%;
	flex-wrap: wrap;
	display: flex;
}

.input-row{
	width: 100%;
	height: 10%;
}

.blog-input-wrapper{
	height:20%;
	width:100%;
}
.blog-input-wrapper div{
		position: relative;
	  top: 50%;
	  transform: translateY(-50%);
		width: 100%;
}
.blog-input-wrapper div input{
	width: 55%;
	font-size: 13px;
	float: right;
}






.button-wrapper{
	width:100%;
	height: 30%;
	text-align: center;
}











#mid-panel-wrapper{
	height: 100%;
	width: 37.5%;
	border-right: 1px solid #CFCFCF;
}

#middle-panel {
	height: 100%;
	background-color: #F9F9F9;
}

.scroll-box {
	width: 100%;
	height: 100%;
	overflow: auto;
}







#right-panel-wrapper{
	height: 100%;
	width: 37.5%;
	background-color: #F9F9F9;
}

/*  INDIVIDUAL POST CSS */
.post {
	background-color: #F9F9F9;
	height: 100px;
	width: 100%;
	border-bottom: 1.5px solid #E0E2E6;
	display: flex;
}
.image-wrapper{
	width: 30%;
	text-align: center;
	vertical-align: middle;
}
.post-image{
	border-radius: 5px;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	height: 80px;
	width: 80px;
	border: 1px solid #898989;
}
.post-content{
	margin: 10px 5px;
	width: 70%;
	height: 100%;
}
.post-headline{
	width: 100%;
}
.post-title{
	font-weight: 300;
	display: inline;
}
.post-date{
	float: right;
	margin-right: 5px;
	font-size: 13px;
	color: #298cda;
	display: inline;
}
.post-body{
	padding-top: 3px;
	font-weight: 400;
	font-size: 12px;
}
/* DATE CSS */
.date-wrapper{
	font-weight: 600;
	background-color: #F9F9F9;
	text-align: center;
	border-bottom: 1.5px solid #E0E2E6;
	height: 25px;
}
.date-wrapper h1{
	position: relative;
  top: 50%;
	font-size: 13px;
  transform: translateY(-50%);
}
/*CONFIG CSS*/




.customstart-input-wrapper{
	height:20%;
	width:100%;
}
.customstart-input-wrapper div{
		position: relative;
	  top: 50%;
		font-size: 14px;
	  transform: translateY(-50%);
		width: 100%;
}
.customstart-input-wrapper div input{
	width: 25%;
	font-size: 13px;
	float: right;
}









/*CSS All Switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
	float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* slider from http://www.w3schools.com/howto/howto_css_switch.asp*/
.slider {
	height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*button css generated at http://livetools.uiparade.com/button-builder.html# */

.button {

	margin-top: 12px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 5px 17.5px;
    font-size: 11px;
		font-weight: 200;
    border: 1px solid #2d6898;
		background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(73,132,180)),
        color-stop(1, rgb(97,155,203))
    );

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-shadow: x-offset y-offset blur color;
		-webkit-box-shadow: 0px 6px 0px #2b638f;
		-moz-box-shadow: 0px 6px 0px #2b638f;
		box-shadow: 0px 4px 0px #2b638f;
}
.button:hover {
    background-image: linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
    background-image: -o-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(79,142,191)),
        color-stop(1, rgb(102,166,214))
    );

}
@keyframes fadeIn { from { opacity:0; } to { opacity:0; } }
.typename{
	display: inline;
}
.button:active {
    background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(88,154,204)),
        color-stop(1, rgb(90,150,199))
    );
		box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
		transform: translate(0, 2px);
}



.grey{
	color: rgba(10,10,10,.2);
}
.terminal-entry{
	color: white;
	font-size: 15px;
	font-weight: 100;
}
.white{
	color: white;
}



@keyframes fadeIn { from { } to { color: red } }
.warn-choice{
	-webkit-animation: fadeIn ease-in 30;
}
.warn-textbox{
	border: 2px solid red;
}
