:root {
    --blue-gradient-tbl: linear-gradient(to bottom left,#2685ee,#1771d8);
    --blue-gradient-tbr: linear-gradient(to bottom right,#2685ee,#1771d8);
    --primary-blue: rgb(38,133, 238);
    --blue-glow: rgba(1, 120, 255, 0.4);
    --grey-light: rgb(245,245,245);
    --grey-dark: rgb(156, 173, 178);
    --black: #051e3e;
    --red: #E44625;

    --t-ms-quickest: 60ms;
    --t-ms-quick: 195ms;
    --t-ms-std: 230ms;

    --shadow: 0 4px 14px 0;
    
    --std-radius: 5px;
}