:root {
    --primary-blue: rgba(35, 109, 222, 1);
    --purple: rgb(120, 125, 230);
    --grey-light: rgb(245,245,245);
    --grey-dark: rgb(156, 173, 178);
    --grey-black: rgb(98,98,98);
    --black: #051e3e;
    --red: #E44625;
}