
.button {
    width: 100%;
    background-color: var(--color-accent-bright);
    font-family: var(--font-paragraph);
    border-radius: 4px;
    border: 1px solid #68a080;
    color: white;
    font-size: 12px;
    padding: 0 1.5rem;
    line-height: 1.5rem;

    &:active {
        background-color: #68a080;
    }
}