:root {
    --color-foreground: #F9F9F9;
    --color-background: #E6E6E6;
    --color-dark-border: #ccc;
    --color-white: #ffffff;
    --color-photoset-stamp: #2cbd45;
    --color-highlight: #298cda;
    
    

    --color-button-neutral:  #40676d;
    --color-button-neutral-border: #2e4a4f;
    --color-button-neutral-active: gray;

    --color-button-negative: #D3201C;
    --color-button-negative-border: #7b0301;
    --color-button-negative-active: #6a0301;

    --border-radius-button: 4px;
    --border-radius-round: 20px;

    --border-dashed: 1.3px dashed #cfcfdf;

    --font-heading:  'Poppins', sans-serif;
    --font-paragraph: 'Source Code Pro', monospace;
    
    --h1-size: ;
    --h2-size: ;
    --h3-size: ;

    --h1-line-height: ;
    --h2-line-height: ;
    --h3-line-height: ;
}