.input {
    display: none;
}

.switch {
    composes: columns from global;
    justify-content: center;
}

.input:checked + .label:before {
    left: 17px;
}

.label {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #888;
    border-radius: 2px;
    background-color: #f2f2f2;
    height: 15px;
    width: 40px;
    z-index: 1;
    position: relative;
    transition: background-color .6s ease, box-shadow .6s ease, border .6s ease;
}

.label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    height: 21px;
    width: 15px;
    border: 1px solid #888;
    border-radius: 2px;
    margin-top: -4px;
    margin-left: 3px;
    margin-right: 3px;
    box-sizing: border-box;
    background-color: white;
    transition: left 0.4s ease;
}

.input:checked + .green:before {
    border: 1px solid #888;
}

.input:checked + .green {
    background-color: var(--color-accent-bright);
    border: 1px solid #2c528c;
}
  