.app-wrapper {
    composes: container from global;
}

.foreground-panel {
    composes: draggable from global;
    position: relative;
    background-color: var(--color-background);
    border-right: 1px solid var(--color-dark-border);
}

.background-panel {
    border-right: 1px solid var(--color-dark-border);
}