.slider-track {
  margin: 0;
  border: 1px dotted var(--grey-dark);
  border-radius: var(--std-radius);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.highlighter {
  height: 100%;
  width: 100%;
  background: var(--blue-gradient-tbl);
  box-shadow:  var(--shadow) var(--blue-glow);
  border-radius: var(--std-radius);
}
.highlighter-container {
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  width: 50%;
  transition: transform var(--t-ms-quick) ease-out;
  transform: translateX(0);
}
.slider-option {
  width: 48.5%;
  position: relative;
  display: inline-block;
  transition: color var(--t-ms-std) ease-in-out;
  border-radius: var(--std-radius);
  color: var(--grey-dark);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 2.75rem;
  font-family: sans-serif;
  text-align: center;
}
.slider-option:hover {
  cursor: pointer;
}
.slid {
  transform: translateX(100%);
}
.slid .highlighter {
  background: var(--blue-gradient-tbr);
}
.slider-option.selected {
  color: white;
  z-index: 3;
}