.wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.good {
    border: 1px solid var(--primary-blue);
}
.error {
    border: 1px solid var(--red);
}
.clear {
    border: 1px solid var(--grey-dark);
}
.input {
    border-radius: var(--std-radius);
    padding: 0 1rem;
    width: 100%;
    font-size: 1.1rem;
    line-height: 2.75rem;
    font-weight: 400;
    letter-spacing: 0.7px;
    background-color: white;
    color: var(--black);
}
.input:focus {
    outline: none;
}