.wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
}
.input {
    border-radius: 5px;
    padding-left: 0.75rem;
    line-height: 2.5rem;
    border: 1px solid rgba(54,98,107, 0.3);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-right-width: 0;
    border-bottom-right-radius: 0;
    width: 60%;
    font-size: 1rem;
    line-height: 2.75rem;
    font-family: 'Gothic A1';
    letter-spacing: 0.5px;
    background-color: white;
    color: #051e3e;
}
.input:focus {
    outline: none;
}
.addon {
    border-radius: 0 5px 5px 0;
    border-width: 1px 1px 1px 1px;
    border-color: #0076e0;
    border-color: rgba(54,98,107, 0.3);
    color: rgba(54,98,107, 0.3);
    border-style: solid solid solid none;
    border-top: 1px solid rgba(54,98,107, 0.3);
    border-bottom: 1px solid rgba(54,98,107, 0.3);
    border-right: 1px solid rgba(54,98,107, 0.3);
    padding: 0 0.75rem 0 0.1rem;
    display: block;
    width: 40%;
    text-align: right;
    line-height: 2.75rem;
    font-size: 1rem;
    font-family: 'Gothic A1';
    background-color: white;
}