
:root {
    /* base CSS values */
    --button-font-size: 16px;
    --button-font-weight: 400;
    --button-border-width: 1px;
    --button-border-radius: 6px;
    --button-letter-spacing: -0.4px;
}

.button {
    composes: shadow-hoverable from global;
    font-size: var(--font-size-sm);
    cursor: pointer;
    font-weight: var(--button-font-weight);
    border-width: var(--button-border-width);
    transition: box-shadow .2s;
    letter-spacing: var(--button-letter-spacing);
    text-transform: capitalize;

    &:focus {
        outline: none;
    }

    &:active {
        box-shadow: none;
    }
}