.ripple-wrapper {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-bottom: 2.5px;
}
.wrapper {
  font-family: 'SFMono', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  letter-spacing: -0.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--grey-dark);
}
