.label {
    cursor: pointer;
    margin: 0 2.5px;
    padding-left: 0.75rem;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
    transition: box-shadow ease-in-out .10s;
    font-weight: 600;
    font-family: 'Gothic A1', sans-serif;
    color: rgba(0,0,0,0.3);
    font-size: 1rem;
    line-height: 2.75rem;
    letter-spacing: 0.75px;
    transition: color ease-in 0.15s,
    background-color ease-in 0.15s,
    box-shadow ease-in 0.17s;
}

.label:hover {
    box-shadow: 0 5px 15px 0 #a3a3a3;
}

.checkbox {
    display: none;
}

.checkbox:focus {
    outline: none;
}

.checkbox:checked + .label {
    background-color: #4dabf5;
    box-shadow: 0 5px 15px 0 #a3a3a3;
    color: white;
}