.label {
    cursor: pointer;
    width: 100%;
    padding: 0 0.5rem;
    display: inline-block;
    border: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-weight: 500;
    border-bottom: 1.5px solid transparent;
    text-align: center;
    color: var(--grey-dark);
    font-size: 1rem;
    line-height: 3rem;
    letter-spacing: 1px;
    transition: 
        background-color 100ms ease-in-out,
        border-bottom 100ms ease-in-out;
}
.container:nth-last-of-type(1) {
    border-bottom-right-radius: 10px;
}
.container:nth-of-type(1) .label {
    font-weight: 700;
}

.cap {
    text-transform: capitalize;
}
.container {
    display: inline-flex;
    flex-shrink: 0;
    flex-grow: 1;
}
.label:hover {
    color: rgb(98,98,98);
    border-bottom: 1.5px solid rgba(74, 168, 238, 1);
}
.checkbox {
    display: none;
}
.label:focus {
    outline: none;
}
.checkbox:checked + .label {
    border-bottom: 1.5px solid rgba(74, 168, 238, 1);
    color: rgb(98,98,98);
}