.label {
    cursor: pointer;
    padding-left: 0.75rem;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    transition: box-shadow ease-in-out .10s;
    font-weight: 500;
    font-family: sans-serif;
    color: rgba(54,98,107, 0.3);
    font-size: 1rem;
    line-height: 2.75rem;
    letter-spacing: 1px;
    transition: color ease-in 0.15s,
    background-color ease-in 0.15s,
    box-shadow ease-in 0.17s;
}
.cap {
    text-transform: capitalize;
}
.container {
    width: 48%;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    display: inline-block;
}
.container:nth-of-type(even) {
    margin-left: 3.5px;
}
.container:nth-of-type(odd) {
    margin-right: 3.5px;
}
.label:hover {
    box-shadow: 0 5px 15px 0 #a3a3a3;
}
.checkbox {
    display: none;
}
.label:focus {
    outline: none;
}
.checkbox:checked + .label {
    background-color: rgb(38,133, 238);
    box-shadow: 0 4px 14px 0 rgba(1, 120, 255, 0.4);
    color: white;
}