.label {
    cursor: pointer;
    width: 100%;
    padding: 0 0 0 0.75rem;
    display: inline-block;
    border-radius: var(--std-radius);
    font-weight: 500;
    font-family: sans-serif;
    color: var(--grey-dark);
    font-size: 1rem;
    line-height: 2.75rem;
    letter-spacing: 1px;
    transition: 
        transform var(--t-ms-quickest) ease-in-out,
        background-color var(--t-ms-std) ease-in-out;
}
.cap {
    text-transform: capitalize;
}
.pressed {
    transform: scale(0.96);
}
.container {
    width: 48%;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    display: inline-block;
}
.container:nth-of-type(even) {
    margin-left: 3.5px;
}
.container:nth-of-type(odd) {
    margin-right: 3.5px;
}
.label:hover {
    background-color: var(--grey-light);
}
.checkbox {
    display: none;
}
.label:focus {
    outline: none;
}
.checkbox:checked + .label {
    background: var(--blue-gradient-tbl);
    color: white;
}