.wrapper {
    text-align: left;
    width: 100%;
}
.header {
    composes: skinny from global;
    font-family: Helvetica, sans-serif;
    font-size: 2.35rem;
    color: var(--black);
    font-weight: 100;
    letter-spacing: 0.2px;
}