@font-face {
  font-family: 'SFMono';
  src: url('../../../public/fonts/SFMono-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SFMono';
  src: url('../../../public/fonts/SFMono-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SFMono';
  src: url('../../../public/fonts/SFMono-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SFMono';
  src: url('../../../public/fonts/SFMono-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}