:root {
    --color-accent-bright: #51A0D5;
    --color-foreground: #F9F9F9;
    --color-background: #E6E6E6;
    --color-dark-border: #ccc;
    --color-white: #ffffff;
    --color-photoset-stamp: #2cbd45;
    --color-highlight: #298cda;
    --color-shadow: rgba(0,0,0,0.2);
    --border-radius-button: 4px;
    --border-radius-round: 20px;
    --border-dashed: 1.5px dashed #cfcfdf;
    --font-heading:  'Poppins', sans-serif;
    --font-paragraph: 'Source Code Pro', monospace;
}