.slider-track {
  margin: 0;
  border: 1px solid rgba(54,98,107, 0.3);
  display: inline-block;
  padding: .25rem .065rem;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.highlighter {
  height: 100%;
  width: 100%;
  background-color: rgb(38,133, 238);
  box-shadow: 0 4px 14px 0 rgba(1, 120, 255, 0.4);
  border-radius: 5px;
}
.highlighter-container {
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  padding: .25rem .225rem;
  width: 50%;
  transition: transform 200ms ease-out;
  transform: translateX(0%);
}
.slider-option {
  width: 48.5%;
  position: relative;
  transition: color 250ms ease-in-out;
  border-radius: 5px;
  color: rgba(54,98,107, 0.3);
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 2.75rem;
  font-family: sans-serif;
  text-align: center;
}
.slider-option:not(.selected):hover {
  cursor: pointer;
}
.slid {
  transform: translateX(100%);
}
.slider-option.selected {
  color: white;
  z-index: 4;
}